fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
python-dotenv
passlib[bcrypt]
python-multipart
pyjwt
httpx
email-validator
python-jose[cryptography]
fpdf
reportlab>=3.5.0
openpyxl
psycopg2-binary
aiosmtplib
apscheduler